<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inloggen als student</h5>
          <p class="card-text">
            <a [href]="getLoginUrl()">Klik hier om in te loggen met je Avans account</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inloggen als bedrijf</h5>
          <p class="card-text">
            WIP
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
